body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #BD5738;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

#about-me, #hobbies, #A-record {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about-me h2, #hobbies h2, #A-record h2 {
    color: #BD5738;
    border-bottom: 2px solid #BD5738;
    padding-bottom: 5px;
}

#about-me p, #hobbies ul, #A-record p {
    margin: 15px 0;
}

#hobbies ul {
    list-style-type: none;
    padding: 0;
}

#hobbies ul li {
    background-color: #BD5738;
    color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #BD5738;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

img {
    display: block;
    width: 50%;
    height: 30%;
    margin: 40px;
}


